@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-underline {
    @apply relative
      before:content-['']
      before:absolute
      before:block
      before:w-full
      before:h-[1px]
      before:bottom-0
      before:left-0
      before:origin-top-left
      before:bg-blueGray-500
      before:transform
      before:transition
      before:duration-200
      before:scale-0
      hover:before:scale-100;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, 'Noto Sans KR', BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
