{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "linebreak-style": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "react/prop-types": 0,
    "arrow-body-style": 0,
    "react/jsx-props-no-spreading": 0,
    "no-param-reassign": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "no-confusing-arrow": 0,
    "semi": "off"
  }
}
