{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "linebreak-style": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "react/prop-types": 0,
    "semi": "off"
  }
}
